<form method="POST" action = "/extra">
  <h1>Extra Extra Read All About It</h1> 
  <h2>Top 2-3 gossip places</h2>
<p>Your Email Address: <input type="text" name="your_email_address"></p>
<p>Your Name: <input type="text" name="your_name"></p>
<p>Instagram?<input type="checkbox" name="Gossip_Places[]" value ="Instagram"></p>
<p>Snapchat?<input type="checkbox" name="Gossip_Places[]" value ="Snapchat"></p>
<p>Twitter?<input type="checkbox" name="Gossip_Places[]" value ="Twitter"></p>
<p>News?<input type="checkbox" name="Gossip_Places[]" value ="News"></p>
<p>TV?<input type="checkbox" name="Gossip_Places[]" value ="TV"></p>
<p>Conversation?<input type="checkbox" name="Gossip_Places[]" value ="Conversation"></p>
<p>Other?<input type="checkbox" name="Gossip_Places[]" value ="Other"></p>
  <input type= "submit">
  </form>
  